node_modules
notes
#Hardhat files
cache
artifacts
.env
tags*
diamondABitTest.js
deployState.json
constants.ts 
.prettierrc
.prettierignore
.mocharc.json
optimizations
contractsignore
deploy 
build
bin
relay
test